input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input:not([type='radio']):not([type='checkbox']) {
    appearance: none;
    border: none;
    outline: none;
    cursor: initial;
    padding: 8px;
    border-radius: 8px;
}

body {

    height: 100vh;
    width: 100vw;
    background-color: var(--light);
    color: var(--dark);
    padding: 8px;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 32px;
}

.greeting {
    display: flex;

    @media (min-width:450px) {
        justify-content: center;
        ;
    }
}

.greeting .title {
    display: flex;
    align-items: center;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.greeting .title input {
    background-color: transparent;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
}

h4 {

    color: var(--grey);
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}



.options {
    width: 90%;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: auto;
}

.options label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 0.5rem;

    width: 50%;
    max-width: 200px;
    height: 7rem;

    background-color: var(--lighter);
    border-radius: 16px;

    box-shadow: var(--shadow);

    cursor: pointer;

}


.labelText {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}



.create-todo input[type="submit"] {
    display: block;
    margin: 16px auto;

    width: 90%;
    max-width: 400px;
    padding: 1rem 1.5rem;

    font-size: 1.125rem;

    color: var(--lighter);
    background-color: var(--primary);

    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);

    transition: 0.5s ease-in-out;

    cursor: pointer;


}

.create-todo input[type="submit"]:hover {
    color: var(--primary);
    background-color: var(--lighter);
}

.create-todo input[type='text'] {
    box-shadow: var(--shadow);
    padding: 16px;
    width: 90%;
    max-width: 400px;
}


.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 8px;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    margin: auto;
    padding: 4px 8px;
    width: 100%;
    max-width: 560px;

    border-radius: 1rem;

    background-color: var(--lighter);

    @media (min-width: 550px) {
        padding: 4px 16px;
    }

    @media (min-width: 650px) {
        padding: 4px 28px;
    }
}

.shadowprofissional {
    box-shadow: var(--business-glow);
}


.shadowpersonal {
    box-shadow: var(--personal-glow);
}


.todo-item input:focus {
    background-color: var(--lighter);
}

.todo-item.done .todo-content {
    text-decoration: line-through;
    color: var(--grey);
}

.dflex {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.dflex input {
    flex-grow: 1;
    background-color: transparent;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked~.bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.actions {
    width: 74px;
}

button {

    font-weight: 500;

    padding: 0.5rem 1rem;

    background-color: var(--danger);
    color: var(--light);

    border-radius: 1rem;

    border: 1px solid transparent;
    transition: all 0.5s;

    cursor: pointer;
}

button:hover {
    background-color: var(--light);
    color: var(--danger);
    border-color: var(--danger);
}

.deleteAll {
    margin: 16px;

}

.modalAlert {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow {
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 24px;
    padding: 16px;

    border: 1px inset black;
    border-radius: 8px;

    box-shadow: var(--shadow);

    background-color: var(--lighter);
}

.modalAlert button {
    margin: 16px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.buttonDelete {
    background-color: var(--danger);
}

.buttonDelete:hover {
    background-color: var(--light);
    color: var(--danger);
    border-color: var(--danger);

}

.buttonCancelDelete {
    background-color: var(--cancelDeleteButton);
}

.buttonCancelDelete:hover {
    color: var(--cancelDeleteButton);
    background-color: var(--light);
    border-color: var(--cancelDeleteButton);
}

.backgroundModal {
    z-index: 2;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.4;
}